body {
  font: 18px / 1.4 'Baloo Thambi 2', sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

a {
  color: #e91e63;
  transition: color 100ms linear;
  text-decoration: none;
}

a:hover {
  color: #ad1457;
}

code {
  font-family: 'Fira Mono', monospace;
}
